. {
	font-color: #FFF8DC;
}

html {
	background-image: url("The_Boondocks.png");
	background-size:cover;
	text-align: center;
	font-size: 80px;
}

#clock {
    font-family: 'Audiowide', cursive;
	color: #FFF8DC;
	border: 5px solid white;
	padding: 5px;
}